body {
    margin: 0;
    padding: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
header.header {
    text-align: center;
}
.header-image {
    height: 8rem;
    width: 8rem;
}
button.btn {
    cursor: pointer;
    height: 2.6rem;
    width: 8rem;
    border: none;
    background-color: #f1f1f1;
    border-radius: 0.3rem;
    font-size: 1.2rem;
}
button.btn:hover,
button.btn:active {
    background-color: #eee;
    outline-color: transparent;
}

.container {
    flex: 1;
}

footer.footer {
    height: 5rem;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background-color: #31a3c8;
    position: relative;
}
.status-bar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.1rem;
    background-color: #fb9838;
    text-align: left;
}
.status-block {
    width: 8rem;
    height: 0.1rem;
    background-color: #50caba;
    animation: move 0.6s infinite;
    -webkit-animation: move 0.6s infinite;
}
@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100vw);
    }
}

@-webkit-keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100vw);
    }
}

footer.footer > div.tab {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn.main-tab {
    text-transform: uppercase;
    font-size: 1.1rem;
    line-height: 2.6rem;
}

.btn.main-tab > span {
    font-size: 1.4rem;
    color: #2dc1ac;
}
