:root {
    --blue: #31a3c8;
    --green: #2dc1ae;
    --yellow: #fb9838;
    --red: #f04a99;
    --gray1: #f1f1f1;
    --gray-hover: #eee;
}

body {
    margin: 0;
    padding: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
header.header {
    text-align: center;
}
.header-image {
    height: 8rem;
    width: 8rem;
}
button.btn {
    cursor: pointer;
    height: 3rem;
    flex: 1;
    border: none;
    background-color: var(--gray1);
    font-size: 1.2rem;
}
button.btn:hover,
button.btn:active {
    background-color: var(--gray-hover);
    outline-color: transparent;
}

.container {
    flex: 1;
    text-align: center;
}
div.item {
    display: inline-block;
    height: 8rem;
    width: 8rem;
    text-align: center;
    background-color: var(--green);
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    border-radius: 0.4rem;
    opacity: 0.8;
    cursor: pointer;
}
div.item:hover {
    opacity: 1;
}

div.item > span {
    display: block;
    font-size: 2.6rem;
    height: 6rem;
    line-height: 6rem;
}
.icon-deviceoff {
    color: var(--red);
}

footer.footer {
    height: 3rem;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background-color: var(--green);
    position: relative;
}
.status-bar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.2rem;
    background-color: var(--yellow);
    text-align: left;
}
.status-block {
    width: 8rem;
    height: 0.2rem;
    background-color: var(--blue);
    animation: move 0.6s infinite;
    -webkit-animation: move 0.6s infinite;
}
@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100vw);
    }
}

@-webkit-keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100vw);
    }
}

footer.footer > div.tab {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn.main-tab {
    text-transform: uppercase;
    font-size: 1.1rem;
    line-height: 2.6rem;
}

.btn.main-tab > span {
    font-size: 1.4rem;
    color: var(--blue);
}
.pop-up {
}
#message {
    display: none;
    position: absolute;
    bottom: 4rem;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
    height: 2.2rem;
    line-height: 2.2rem;
}
#message.message {
    background-color: var(--green);
}
#message.warn {
    background-color: var(--yellow);
}
#message.error {
    background-color: var(--red);
}
