<div #container class="container">
  <header>
    <div class="back">
      <a routerLink="/" routerLinkActive="active">
        <i class="iconfont icon-backicon1"></i>
      </a>
    </div>
  </header>
  <div class="progress">
    <ng-container *ngFor="let recieved of fragments">
      <div [ngClass]="{ recieved: recieved }"></div>
    </ng-container>
  </div>
  <div class="content">
    <div *ngIf="!isCompleted" class="message">{{status}}</div>
    <canvas id="canvas" hidden></canvas>
    <div *ngIf="!isCompleted" class="miss-info">{{ missingInfo$ | async }}</div>
    <div *ngIf="isCompleted" class="complete">Data transfer complete</div>
    <div *ngIf="!isStarted" class="complete">
      <slb-button color="primary-blue" class="start-scan" #playBtn (click)="startPlay()">Start Scan</slb-button>
      <div class="tips">Press Button to Start Scan</div>
    </div>
  </div>
</div>