// colors

// shades of grey
$gray: #5e6670;
$light-gray: #99a6b5;
$dark-gray: #202429;
$dark-gray-2: #39414d;
$dark-gray-3: #414954;
$dark-gray-4: #212121;
$dark-gray-5: #2d343d;
$dark-gray-6: #272d31;
$dark-gray-7: #0f1419;
$dark-gray-8: #161a1e;

// others
$white: #fff;
$black: #000;
$yellow: #ffdf22;
$dark-yellow: #d9be1c;
$blue: #1683fb;
$dark-blue: #005ebd;
$red: #f44336;
$light-red: #ff5a5a;
$green: #8bc34a;

// fonts
$common-text-font: Roboto, sans-serif;

// font-sizes
$common-font-size: 1.125rem;

$text-font: Roboto, 'Roboto', sans-serif;
