.container {
  display: flex;
  position: absolute;
  height: 100vh;
  width: 100vw;
  flex-direction: column;

  a {
    text-decoration: none;
  }

  header {
    height: 40px;
    padding: 10px;
    background-color: #f1f1f1;

    .iconfont {
      font-size: 30px;
      line-height: 40px;
    }
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      margin-top: 40px;
      font-size: 20px;
      width: 60%;
      color: #000;
    }

    .item {
      height: 200px;
      background-color: #f1f1f1;
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .iconfont {
          
        margin-bottom: 20px;
        font-size: 80px;
      }
    }
  }
}
