.container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

header.header {
  padding-top: 20px;
  text-align: center;
}
.header-image {
  height: 9rem;
  width: 9rem;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .item {
    margin-bottom: 20px;
  }

  button {
    height: 50px;
    width: 200px;
    border: none;
    background-color: #999;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
  }
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100vw);
  }
}

@-webkit-keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100vw);
  }
}
