<div class="container">
  <canvas class="canvas" #img></canvas>
  <div class="data-input">
    <label>input Message:
      <input [(ngModel)]="message" (change)="messageUpdate($event)" type="text" />
    </label>
    <br />
    <button (click)="downloadImage()">DownLoad</button>
    <!-- <button id="download-file">File Download</button> -->
  </div>

  <input
    (change)="uploadFile($event)"
    type="file"
    accept="image/x-png,image/jpeg,image/gif"
  />

  {{ text }}

  <img *ngFor="let _ of images" src="{{ _ }}" alt="" />
</div>
