@font-face {
  font-family: "iconfont"; /* Project id 1749109 */
  src: url('iconfont.woff2?t=1626490133434') format('woff2'),
       url('iconfont.woff?t=1626490133434') format('woff'),
       url('iconfont.ttf?t=1626490133434') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-backicon1:before {
  content: "\e937";
}

.icon-scan:before {
  content: "\e641";
}

.icon-scan1:before {
  content: "\e685";
}

.icon-qr-code:before {
  content: "\e8ba";
}

.icon-home:before {
  content: "\e617";
}

.icon-receiver:before {
  content: "\e633";
}

.icon-send:before {
  content: "\e7f7";
}

.icon-email-action-receive:before {
  content: "\e69a";
}

.icon-email-action-receive1:before {
  content: "\e6a7";
}

.icon-receive:before {
  content: "\e602";
}

.icon-A-24:before {
  content: "\e618";
}

.icon-menu:before {
  content: "\e603";
}

.icon-menuoff:before {
  content: "\e77c";
}

.icon-menu1:before {
  content: "\e6c1";
}

.icon-menu2:before {
  content: "\e731";
}

